#Article{
    border: 5px dotted;
    text-align: left;
    font-family: georgia,"times new roman",times,serif;
    font-size: 90%;
    color: #333;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;


}


.Title{

    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;
    font-size:36px;
}
.Date{
    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;
    color:gray;
    padding-bottom: 10px;
}
.News{
    padding-top: 16px;

    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;

    padding-bottom: 24px;
}

