#Article{
    border: 5px dotted;
    text-align: left;
    font-family: georgia,"times new roman",times,serif;
    font-size: 90%;
    color: #333;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;


}


.Title{

    font-family: 'Times New Roman', Times, serif;
    font-size:36px;
}
.Date{
    font-family: 'Times New Roman', Times, serif;
    color:gray;
    padding-bottom: 10px;
}
.News{
    padding-top: 10px;
    text-indent: 10px;
    font-family: 'Times New Roman', Times, serif;

    padding-bottom: 24px;
}

