


.Title{

    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;
    font-size:36px;
}
.Date{
    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;
    color:gray;
    padding-bottom: 10px;
}
.News{
    padding-top: 16px;

    font-family: 'Helvetica', Arial, Helvetica, sans-serif, serif;

    padding-bottom: 24px;
}

